body {
    padding: 10px;
}

.game-menu {

}

.game-type-menu {

}

.formation-designer {
}

.design-sections-container {
}

.designer-section {
    float: left;
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    border: 1px #ccc solid;
    margin-right: 50px;
}

.designer-opponent-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #666;
}

.designer-canvas {

}

.designer-load-formation {

}

.saved-formation-list {
    display: none;
}

.designer-load-formation:hover .saved-formation-list {
    display: block;
    position: absolute;
    background: white;
    box-shadow: 0 0 4px #999;
    cursor: pointer;
}

.saved-formation-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.saved-formation-item:hover {
    background: beige;
}

.formation-delete-btn {
    margin-left: 30px;
    opacity: 0;
    border-radius: 10px;
    padding: 0 10px;
}

.formation-delete-btn:hover {
    color: white;
    background: #999;
}

.saved-formation-item:hover .formation-delete-btn  {
    opacity: 1;
}

.soldier-selector {
    margin-top: 10px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #999;
}

.soldier-selector-option {
    float: left;
    padding: 5px 20px;
    box-sizing: border-box;
    border-left: 1px solid #999;
    cursor: pointer;
}

.soldier-selector-option.active {
    background: #999;
    color: white;
}

.soldier-selector-option:hover {
    background: #ccc;
}

.soldier-selector-option:first-child {
    border-left: none;
}

.game-ended-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
