body {
    padding: 10px;
}

.game-menu {

}

.game-type-menu {

}

.formation-designer {
    float: left;
}

.designer-section {
    display: inline;
}

.designer-canvas {
    box-sizing: border-box;
    border: 1px #ccc solid;
}